body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
strong {
  font-family: $font-family-sans-serif-bold;
}

em {
  font-family: $font-family-sans-serif-italic;
}

h2 {
  & + .vertical-separator {
    margin-bottom: 70px;
  }
}

.main {
  & > .container {
    padding: 67px 0;
  }
}

.jumbotron {
  background-color: transparent;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 0;
  padding-bottom: 28px;

  h1 {
    margin: 50px auto 5px;
    color: white;

    padding-top: 65px;
    background-image: url(../images/maderamakers-imago.svg);
    background-repeat: no-repeat;
    background-position: center top;

    & + p {
      margin-bottom: 60px;
    }
  }
  p {
    &:after {
      background-color: white;
    }
  }
  h6 {
    color: white;
  }
  p.text-left,
  p.text-right {
    font-size: $font-size-base;
    margin-top: 120px;
    margin-bottom: 0;
  }
  .thumbnail {
    padding: 25px;
    .fa {
      font-size: 40px;
    }
    strong {
      display: block;
    }
  }
}

.panel-default {
  padding: 45px 60px;
  border-color: $gray-lighter;
}

.vertical-separator {
  &:after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 85px;
    width: 2px;
    background-color: $brand-primary;
  }
}

.font-size-medium {
  font-size: $font-size-medium;
}

.box-shadow {
  box-shadow: 0 10px 15px rgba(0,0,0,.07);
}

.common-box {
  padding: 40px 24px 30px;
  height: 100%;
}

.hide-text {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

.semantic-image {
  background: transparent url(../images/sprite-maderamakers.svg) no-repeat center 0;
  background-size: 480px 480px;
  margin-bottom: 0;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  display: block;

  &.imagotype {
    background-position: 0 0;
    height: 41px;
    width: 80px;
  }

  &.logotype {
    background-position: -96px 0;
    height: 85px;
    width: 100px;
  }
}

.row-sm-same-height {
  display: flex;

  [class*="col"]  {
    display: flex;
    flex-direction: column;
  }
}

.wpcf7-form {
  label {
    width: 100%
  }
}

.wpcf7-text,
.wpcf7-textarea {
  width: 100%;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
}

.wpcf7-submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .jumbotron {
    padding-top: 121px;
  }
}
