body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.jumbotron {
  background-color: transparent;

  h1 {
    margin-bottom: 50px;
  }
  .thumbnail {
    padding: 25px;
    .fa {
      font-size: 40px;
    }
    strong {
      display: block;
    }
  }
}
