.navbar {
  box-shadow: none;
  margin-bottom: 0;
  padding: 18px 0;

  color: white;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  position: absolute;
}

.navbar-brand {
  overflow: hidden;
  padding: 0;
  width: 100px;
  height: 85px;
  &:before {
    content: "";
    width: 100px;
    height: 85px;
    background: url(../images/maderamakers-logo-white.svg) no-repeat 100%;
    display: block;
  }
}

.navbar-right {
  li {
    a {
      padding-right: 0;
    }
  }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar {
    & > .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }
}
